.header {
  width: 100%;
  background-color: black;
}
.header img {
  width: 100%;
  max-height: 11rem;
  object-fit: scale-down;
}

.sidebar {
  position: fixed;
  width: 8rem;
  background-color: #000;
  border-bottom-right-radius: 1rem;
}
.sidebar + * {
  margin-left: 8rem;
}
.sidebar .logo {
  display: inline;
  flex-grow: 1;
  white-space: nowrap;
}
.sidebar .logo .icon {
  margin-top: 1rem;
  width: 5.5rem;
}
.sidebar .logo .title {
  font-family: Lucida Console, monospace;
  font-size: 1rem;
}
.sidebar .menuOpener {
  display: none;
}
.sidebar a, .sidebar a:hover, .sidebar a:visited, .sidebar a:active {
  color: #fff;
  text-decoration: none;
}
.sidebar .sidebarLink {
  margin-top: 1rem;
  margin-left: 0.25rem;
  text-transform: uppercase;
}
.sidebar .sidebarLink.active {
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .sidebar {
    width: 2.5rem;
  }
  .sidebar.open {
    width: 8rem;
  }
  .sidebar + * {
    margin-left: 2.5rem;
  }
  .sidebar.open + * {
    margin-left: 8rem;
  }
  .sidebar .logo .icon {
    width: 2rem;
    margin-left: -0.5rem;
  }
  .sidebar.open .logo .icon {
    width: 5.5rem;
    margin-left: 0rem;
  }
  .sidebar .logo .title {
    font-size: 0.4rem;
    margin-left: -0.5rem;
  }
  .sidebar.open .logo .title {
    font-size: 1rem;
    margin-left: 0rem;
  }
  .sidebar .menuOpener {
    display: block;
    width: 2rem;
    height: 2rem;
    margin-left: -0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-image: url("../images/burger-menu.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .sidebar.open .menuOpener {
    display: none;
  }
  .sidebar .sidebarLink {
    display: none;
  }
  .sidebar.open .sidebarLink {
    display: block;
  }
}

#game-cards {
  display: flex;
  flex-wrap: wrap;
}
.game-card {
  width: 14rem;
  float: left;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}
.game-card img {
  width: 13rem;
  height: 13rem;
  margin: 0.5rem;
  object-fit: contain;
}
.game-card .ribbon {
  position: absolute;
  right: 0;
  background-color: #0d8b0d;
  color: #fff;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  font-weight: bold;
  font-size: smaller;
  transform: rotate(15deg);
}
.game-card .lang {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: smaller;
  margin: 0 1rem 1rem 0;
}
.game-card .lang.col2 {
  right: 1.8rem;
}
.game-card .lang.col3 {
  right: 3.7rem;
}
.game-card .badge {
  background-color: #bbb;
  display: block;
  margin-top: 0.15rem;
}

@media screen and (max-width: 920px) {
  .game-card {
    width: 8.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .game-card .card-body {
    padding: 0.75rem;
  }
  .game-card img {
    width: 8rem;
    height: 8rem;
    margin: 0.25rem;
    margin-top: 0.5rem;
  }
  .game-card .card-title {
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .game-card .btn {
    font-size: 13px;
  }
  .game-card .lang {
    display: none;
  }
  .game-card .ribbon {
    font-size: 11px;
  }
}
